<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="CallLog" connectionString="Data Source=BRILLIANTONE\MSSQLSERVER2008;Initial Catalog=SimpleCallLogger;User ID=sa;Password=as"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>-->
</configuration>